<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WordCounter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
  
</head>
<body>
    <div class="top">
        
        <h1>Word Counter!</h1> 

        <a href="{% url 'about' %}"> About Us.</a>
    </div>

    <div class="bottom">
        <div class= "input">
            <form action="{% url 'count' %}">
            <textarea name="fulltext" cols="40" rows="10"></textarea>
            <br>
            <input type='submit' value='count!' class="btn-input">
            </form>
        </div>
    </div>
</body>
</html>